html {
    background: #171717;
    height: 100vh;
    font-family: Inter, serif;
    color: white;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: auto;
}


.content-comic {
    background: #222222;
    border-radius: 1rem;
    padding: 2rem;
    min-width: 49rem;
    width: fit-content;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#disclaimer {
    font-size: 1.5rem;
    font-weight: 500;
}

#get-comic-btn:hover {
    background: rgba(255, 255, 255, 0.90);
}
#get-comic-btn {
    background: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}