html {
  background: #171717;
  color: white;
  font-family: Inter, serif;
}
#root {
  width: auto;
  margin: 5rem 25rem;
}
a {
  color: white;
}

@media (min-width: 374px) and (max-width: 960px) {
  main {
    margin: 2.5rem 0.5rem;
  }
  .project-title {
    font-size: 1rem;
  }
  .project-description {
    font-size: 0.9rem;
  }
  .project-link {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) and (max-width: 1600px) {
  main {
    margin: 5rem 6rem;
  }
}